@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.container {
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(#cae9fd  , #fce2fc );
  width: 100vw;
  height: 100vh;
  padding: 20px;
  color: #0900af;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2%;
  margin-top: 0;
}

h2 {
  font-size: 30;
  font-weight: 700;
  margin: 0;
}

h3{
  margin: 0;
  font-size: 1.5rem;
}

header {
  text-align: center;
}

nav {
  display: flex;
  justify-content: right;
  gap: 5%;
  margin-bottom: 20px;
  margin-right: 3%;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items:start;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}

section h2{
  margin-top: 10%;
  margin-bottom: 5%;
}

#bottom-main{
  margin-top: 20%;
  width: -webkit-fill-available;
}
#tagline{
  /* margin-top: 20%; */
  width: -webkit-fill-available;
}

button {
  background-color: #5c7cfb00;
  border: 2.5px solid #0900af;
  border-radius: 20rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smoothens the hover effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  border-color: #00f; /* Change to desired hover color */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight increase in shadow on hover */
}

.main-content {
  text-align: center;
}

.illustration, .mobile-illustratiosn {
  margin-top: 20px;
  margin-bottom: 20px;
}

@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.button-53 {
  background-color: #3dd1e7;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53:focus {
  outline: 0;
}

.button-53:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53:hover:after {
  bottom: 2px;
  left: 2px;
}



