@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.container {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(#cae9fd  , #fce2fc );
  padding: 20px;
  color: #0900af;
}

/* main landing page area */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center; /* This centers the items vertically */
}


nav {
  display: flex;
  justify-content: right;
  gap: 5%;
  margin-bottom: 20px;
  margin-right: 3%;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 20px;
}


main{
  display: flex;
  justify-content: space-between;
  margin: 5%;
  flex-wrap: wrap; /* Allow items to wrap */
}


#bottom-main{
  margin-top: 20%;
  width: -webkit-fill-available;
}

h2 {
  max-width: 100%;
  font-size: 28px;
}



button, a {
  background-color: #5c7cfb00;
  border: 2.5px solid #0900af;
  border-radius: 20rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smoothens the hover effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #f7f6ff;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none; /* Removes the underline from the link */

}

button, a:hover {
  border-color: #00f; /* Change to desired hover color */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight increase in shadow on hover */
}


.illustration, .mobile-illustrations {
  margin-top: 20px;
  margin-bottom: 20px;
}


.buttons-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  gap: 30px; 
  margin-top: 15px; /* Adjust the gap between buttons */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  font-size: 14px;
  color: #000; /* Adjust the font size as needed */
  white-space: nowrap;
  padding: 10px 20px;
  color: #0900af;
}


.buttons:active,
.buttons.active {
  background-color: #5c7cfb00;
  border: 2.5px solid #0900af;
  border-radius: 20rem;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color:azure;
}

.buttons:not(.active) {
  /* Styles for inactive buttons, e.g., no border */
  border: none;
  background-color:azure;
}


.tagline {
  margin-top: 1px;
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 20px;

}

.exclusiveMessage {
  text-align: center;
  font-weight: normal;
}

.greatPitch {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  width: 100%; /* Ensure full width for centering */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  margin: 0 auto; /* Center the element by setting left and right margins to auto */
}

.pitchLeft,
.pitchRight {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  width: 100%; /* Ensure full width for centering */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  margin: 0 auto; /* Center the element by setting left and right margins to auto */
}

.pitchRight {
  margin-left: 30px;
}

.pitchLeft {
  margin-left: -70px;
}

.greatPitch {
  margin-top: 80px;
  font-weight: 700;
}
.button-start {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Styles for responsiveness */
@media (max-width: 768px) {

  main {
    display: flex;
    flex-direction: column; /* Stack children vertically on smaller screens */
    align-items: center; /* Center-align the children */
    margin: 5%;
    flex-wrap: wrap; /* Allow items to wrap */
  }

  .main-content, .illustration {
    width: 100%; /* Full width for smaller screens */
    margin-bottom: 20px; /* Add some space between elements */
  }
  

  .title {
    font-size: 5rem; /* Adjust title size for smaller screens */
    text-align: center; /* Center the title */

  }

  .tagline h3 {
    font-size: 24px; /* Adjust tagline font size */
  }

  .greatPitch, .exclusiveMessage {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

.filled {
  background-color:#0900af;
}
.faq-section {
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.faq-question {
  width: 500px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color:#0900af;
}
.faq-container {
  margin-bottom: 100px;
}
.faq-title {
  margin-top: 150px;
}

/* About Page Styling */
.about-text {
  margin-right: 100px;
  /* margin-left: 700px; */
  font-size: 25px;

}
.about-text2 {
  
  margin-left: 60px;
  margin-right: 700px;
  font-size: 25px;

}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center; /* This centers the items vertically */
  margin-top: 100px;
}

.about-image-container {
  /* Adjust sizing and margins as necessary */
  margin-right: 20px; /* Space between image and text */
}

.about-image-container img {
  width: 100%; /* Adjust as needed */
  height: auto;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This centers the text vertically */
  /* Other styling as needed */
}

/* Video Walkthrough Styling */
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; /* Adjust overall container margin as needed */
}

.video-heading {
  align-self: flex-start;
  margin-bottom: 20px; /* Adjusts spacing between heading and video */
}

.video-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px; /* Padding around the video */
}

.video-wrapper iframe {
  width: 95%; /* Adjust to make the video fill the width of the container */
  height: auto; /* Height will be auto-adjusted based on the width */
  aspect-ratio: 16 / 9; /* Maintain video aspect ratio */
}

/* Infographic Section Styling */
.infographic-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px; /* Adjust as needed */
}

.infographic_picleft,
.infographic_picright {
  display: flex;
  align-items: center; /* Aligns items vertically */
  width: 100%; /* Ensures the container takes full width */
}

.infographic_text,
.infographic_img {
  margin-right: 20px; /* Space between image and text */
  max-width: 50%; /* Maximum width of the image/text container */
  width: 100%; /* Makes the container responsive */
}

.infographic_img img {
  width: 100%; /* Image takes full width of its container */
  height: auto; /* Maintains the aspect ratio */
}

.infographic-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers the text vertically */
  align-items: center; /* Centers the text horizontally */
  max-width: 50%; /* Ensures text container doesn't exceed half the page width */
  width: 100%;
}

.infographic-step-heading{
  max-width: 50%; /* Maximum width of the actual text content */
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infographic-step-description {
  max-width: 50%; /* Maximum width of the actual text content */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* FAQ Section Styling */

.faq-section {
  text-align: center; /* Centers everything in the FAQ section */
}

.faq-title {
  /* Additional styling for the title */
  margin-bottom: 20px; /* Spacing below the title */
}


.faq-item {
  /* Styling for each FAQ item, adjust as needed */
  margin-bottom: 10px; /* Spacing between each FAQ item */
}

.faq-question {
  background-color: transparent; /* Removes the background */
  border: 2px solid #0900af; 
  color: inherit; /* Keeps the text color consistent with the parent */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
  text-align: left; /* Aligns the text to the left */
  width: 100%; /* Makes the button full width */
  transition: background-color 0.3s ease; /* Optional: Adds a transition for hover effect */
}

.faq-question:hover {
  background-color: #f5f5f5; /* Optional: Change color on hover, adjust as needed */
}

.faq-answer {
  /* Styling for the answer text, adjust as needed */
  margin-top: 5px; /* Spacing above the answer */
  text-align: left; /* Aligns the answer text to the left */
}

/* Privacy Statement Styling */
.privacy-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; /* Adjust this value based on your design needs */
  padding: 20px; /* Optional: Adds padding inside the container */
}
.privacy-title {
  /* Additional styling for the title */
  margin-bottom: 20px;
  text-align: center; /* Spacing below the title */
}
.body {
  overflow: hidden;
}

/* Contact Section Styling */
.contact-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; /* Adjust this value based on your design needs */
  padding: 20px; /* Optional: Adds padding inside the container */
}
.profile-container {
  text-align: center; /* Centers all child elements */
}

.circle-frame {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; /* Center the image container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-frame img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; 
}


.name, .bio, .email {
  margin: 0 0; /* Reduces the space between paragraphs */
}

.contact-section1, .contact-section2 {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
}

.profile-container {
  flex-basis: 30%; /* Adjust based on the number of profiles per row */
  text-align: center;
  margin: 10px; /* Adds some space around each profile */
}

a.email {
  background-color: transparent; /* Removes any background */
  color: #0900af; /* Or any color you want for the link */
  border: none; /* Removes border if it's styled as a button */
  padding: 0; /* Resets padding */
  font-size: inherit; /* Keeps font size consistent with surrounding text */
  box-shadow: none; /* Removes box-shadow if any */
  /* Any other properties to undo button styling */
}

a.email:hover {
  color: #060078; /* Change color on hover for visual feedback */
  background-color: transparent; /* Ensures no background change on hover */
  text-decoration: underline; /* Adds underline on hover */
}
/* Add media query for smaller screens */
@media (max-width: 768px) {
  .profile-container {
    flex-basis: 100%; /* Each profile takes full width on smaller screens */
  }
}


