@media (min-width: 768px) {
  .button-53 {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

.container {
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(#cae9fd  , #fce2fc );
  width: 100vw;
  height: 100vh;
  padding: 20px;
  color: #0900af;
}



nav {
  display: flex;
  justify-content: right;
  gap: 5%;
  margin-bottom: 20px;
  margin-right: 3%;
}

main{
  display: flex;
  justify-content: space-between;
  margin: 5%;
}

#bottom-main{
  margin-top: 20%;
  width: -webkit-fill-available;
}

h2 {
  max-width: 100%;
}

button {
  background-color: #5c7cfb00;
  border: 2.5px solid #0900af;
  border-radius: 20rem;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease; /* Smoothens the hover effect */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  border-color: #00f; /* Change to desired hover color */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Slight increase in shadow on hover */
}


.illustration, .mobile-illustrations {
  margin-top: 20px;
  margin-bottom: 20px;
}


.buttons-container {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  gap: 30px; 
  margin-top: 15px; /* Adjust the gap between buttons */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  font-size: 14px;
  color: #000; /* Adjust the font size as needed */
  white-space: nowrap;
  padding: 10px 20px;
}


.buttons:active,
.buttons.active {
  background-color: #5c7cfb00;
  border: 2.5px solid #0900af;
  border-radius: 20rem;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #000; /* Adjust the text color for active state */
}


.tagline {
  margin-top: 1px;
  display: flex;
  align-items: flex-start; 
  flex-direction: column;
}

.title {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 20px;

}

.exclusiveMessage {
  text-align: center;
  font-weight: normal;
}

.greatPitch {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  width: 100%; /* Ensure full width for centering */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  margin: 0 auto; /* Center the element by setting left and right margins to auto */
}

.pitchLeft,
.pitchRight {
  text-align: center;
  font-weight: normal;
  font-size: 28px;
  width: 100%; /* Ensure full width for centering */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  margin: 0 auto; /* Center the element by setting left and right margins to auto */
}

.pitchRight {
  margin-left: 30px;
}

.pitchLeft {
  margin-left: -70px;
}

.greatPitch {
  margin-top: 100px;
}
.button-start {
  display: flex;
  align-items: center;
  justify-content: center;

}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.about-text {
  margin-right: 100px;
  margin-left: 700px;
}